*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;

    background:#F8F3ED;

    color:#4A342E;

}

.container{

    width:90%;
    max-width:450px;

    margin:auto;

    text-align:center;

    padding:40px 20px;

}

.logo{

    width:220px;

    margin-bottom:25px;

}

h1{

    font-family:"Playfair Display",serif;

    font-size:42px;

}

.subtitulo{

    margin-top:10px;

    font-size:18px;

    margin-bottom:30px;

}

button{

    width:100%;

    padding:18px;

    background:#6F4E37;

    color:white;

    border:none;

    border-radius:50px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:scale(1.03);

}

.beneficios{

    margin-top:45px;

    display:grid;

    gap:20px;

}

.card{

    background:white;

    padding:25px;

    border-radius:20px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.card h3{

    margin:12px 0;

}
.catalogo{
    margin-top:40px;
    display:grid;
    gap:25px;
}

.producto{
    background:#fff;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.imagenProducto{
    width:100%;
    margin-bottom:15px;
}

.imagenProducto img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:15px;
}

.producto h2{
    margin-bottom:10px;
}

.producto p{
    font-size:15px;
    color:#777;
    margin-bottom:15px;
}

.producto h3{
    color:#6F4E37;
    margin-bottom:20px;
}

.agregarBtn{
    width:100%;
}

.header{
    position:fixed;
    top:20px;
    right:25px;
    z-index:1000;
}

.carrito{
    position:relative;
    font-size:35px;
    cursor:pointer;
}

#contador{
    position:absolute;
    top:-8px;
    right:-10px;
    background:#d62828;
    color:#fff;
    width:22px;
    height:22px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:12px;
    font-weight:bold;
}
.panelCarrito{

    position:fixed;

    top:0;

    right:-400px;

    width:350px;

    height:100vh;

    background:white;

    box-shadow:-5px 0 20px rgba(0,0,0,.2);

    transition:.4s;

    display:flex;

    flex-direction:column;

    z-index:999;

}

.panelCarrito.abierto{

    right:0;

}

.panelHeader{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    border-bottom:1px solid #ddd;

}

.panelFooter{

    margin-top:auto;

    padding:20px;

    border-top:1px solid #ddd;

}

#listaCarrito{

    padding:20px;

    overflow:auto;

}
.itemCarrito{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 0;
    border-bottom:1px solid #eee;
}

.itemCarrito span{
    color:#4A342E;
}

.itemCarrito strong{
    color:#6F4E37;
}

.controlesCantidad{

    display:flex;

    align-items:center;

    gap:12px;

    margin-top:10px;

}

.controlesCantidad button{

    width:32px;

    height:32px;

    border:none;

    border-radius:8px;

    background:#6F4E37;

    color:white;

    cursor:pointer;

    font-size:18px;

}

.controlesCantidad span{

    font-weight:bold;

    width:20px;

    text-align:center;

}